
# Flask
SECRET_KEY=random_key

# Postrgres Sql
DATABASE_URL=postgresql://user:pass@host:5432/dbname

# Telegram Bot
BOT_TOKEN=token for bot in tg

#
ADMIN_TELEGRAM_IDS=123456789,987654321

# Webhook secret
WEBHOOK_SECRET=a_random_string_32
