ncaught TypeError: Cannot read properties of undefined (reading 'audio_url')
    at window.playSong ((index):685:18)
    at window.handleCard ((index):621:15)
    at HTMLDivElement.onclick ((index):436:79)
window.playSong @ (index):685
window.handleCard @ (index):621
onclick @ (index):436
(index):685 Uncaught TypeError: Cannot read properties of undefined (reading 'audio_url')
    at window.playSong ((index):685:18)
    at window.handleCard ((index):621:15)
    at HTMLDivElement.onclick ((index):450:80)
